<div class="nav">
    <ul>
        <li id=""><a href="/">Home</a></li>
        <li id=""><a href="">Books</a></li>
        <li id=""><a href="">Cart</a></li>
        <li id=""><a href="">About Us</a></li>
        <li id=""><a href="">Contact</a></li>
        <li id=""><a href="/admin/add-product/0">Admin Page</a></li>
    </ul>
</div>