<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../admin.css">
    <link href="https://fonts.googleapis.com/css?family=Gentium+Book+Basic&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container">

        <div class="header">
            <h1>Addis Book Store</h1>
            <p id="quote">The reading of all good books is like conversation with the finest (people) of the past centuries.” – Descartes</p>

        </div>
        
        <div class="nav">
            <ul>
                <li id=""><a href="">Store</a></li>
                <li id=""><a href="">Dashboard</a></li>
                <li id=""><a href="">Orders</a></li>
                <li id=""><a href="">Accounting</a></li>
                <li id=""><a href="index.html">Customer Page</a></li>
            </ul>
        </div>
       
        <div class="main">

            <div class="new-book-div">
                <form id="new-book-form" action="/admin/savebook" method="POST">
                    <div class="input-field">
                        <input type="text" id="book_title" name="BookTitle">Book Title
                    </div>
                    <div class="input-field">
                        <input type="text" id="Author" name="Author">Author
                    </div>
                    <div class="input-field">
                        <input type="text" id="Year" name="Year">Year
                    </div class="input-field">
                    <div class="input-field">
                        <input type="text" id="Caption" name="Caption">Caption
                    </div class="input-field">
                    <div class="input-field">
                        <input type="text" id="Price" name="Price">Price
                    </div class="input-field">
                    <div class="input-field">
                        <input type="text" id="Price" name="Cover">Cover Image
                    </div class="input-field">
                    <button id="register_book_button" type="submit" >Register</button>
                </form>
            </div>

        </div>

    


    <script src="../main.js"></script>
</body>
</html>