body {
    background-color: #F8F8F8;
    font-family: 'Gentium Book Basic', serif;

}

.container {
    width: 70%;
    margin-left: autO;
    margin-right:auto;
    
}

.header {
    padding-top: 50px;
    padding-bottom: 20px;
    padding: 20px;
    background-color: #427d78;
    color: white;
    font-family: 'Gentium Book Basic', serif;
    text-align: center;
    
}
#quote {
    color:#D5D36A;
}
.nav {
    background-color: #233541;
    overflow: hidden;
    margin: 0px;
    padding-bottom: px;
}

.nav ul {
    
    list-style-type: none;
    overflow: hidden;
    min-width: 60%;
    float: right;
}

.nav ul li {
    float: left;
    padding-left: 5%;
}

.nav ul li a {
    color: white;
    text-decoration: none;

}

.main {
    margin-top: 20px;
    border-style: solid;
    border-color:steelblue;
    height: auto;
    overflow: hidden;
    
}

.new-book-div {
    margin: 50px;
    width: 55%;
    height: auto;
    border: solid 0.1px gray;
}

.input-field {
    display: block;
    margin: 20px    ;
}

input {
    margin:10px;
    min-width: 60%;
    
}

#register_book_button {
    position: absolute;
   left: 30%;
   margin: 20px;
}