@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Playfair+Display&display=swap');

body {
    background-color: #F8F8F8; 
}

.container {
    width: 70%;
    margin-left: autO;
    margin-right:auto;
    background-color: rgb(238, 232, 232);
}


.header {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #427d78;
    color: white;
    font-family: 'Gentium Book Basic', serif;
    text-align: center;
    
}
#quote {
    color:#D5D36A;
}

.container {
    width: 70%;
    margin-left: autO;
    margin-right:auto;
    background-color: rgb(238, 232, 232);
}

.nav {
    background-color: #233541;
    overflow: hidden;
    margin: 0px;
    padding-bottom: px;
}

.nav ul {
    
    list-style-type: none;
    overflow: hidden;
    min-width: 60%;
    float: center;
}

.nav ul li {
    float: left;
    padding-left: 5%;
}

.nav ul li a {
    color: white;
    text-decoration: none;

}

.main {
    margin-top: 100px;
    height: auto;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-gap: 2em 2em;
    justify-items: center;
    grid-template-areas: "cover right"
                         "review review";
}

.cover-wrapper {
    grid-area: "cover";
    border: solid 1px gray;
    width: 100%;
    height: 100%;
    justify-self: center;
    align-self: center;
    
}

.right-menu {
    grid-area: "right";
    border: solid 1px gray;
    width: 100%;
    justify-self: center;
    align-self: center;
}

.review-container {
    grid-area: "review";
    border: solid 1px red;
}

.book-cover {
    display: block;
    max-height: 240px;
    object-fit: fit;
}

.price {
    display: block;
    margin: 5px;
    margin: 10px;
    font-style: italic;
}

.book-title {
    font-family: 'Libre Baskerville', serif;
    font-size: 0.7em;
    margin: 5;
    margin-top: 0;
    font-weight: bold;
}

.author {
    font-family: 'Libre Baskerville', serif;
    font-size: 0.6em;
    font-weight: 500;
    margin: 5;
    margin-top: 0;
}

.btn {
    font: inherit;
    border: 1px solid #00695c;
    color: #00695c;
    background: white;
    border-radius: 3px;
    cursor: pointer;
  }
  
.btn:hover,
.btn:active {
    background-color: #00695c;
    color: white;
}

input {
    margin:10px;
    margin-top: 0.5px;
    min-width: 60%;
    height: 2em;
    border-radius: 10px;
}

.input-field {
    display: block;
    margin: 5px;
}



.input-label {
    margin: 0;
    padding: 0;
    margin-left: 10px;
    font-size: 0.8em;
}