@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Playfair+Display&display=swap');

body {
    background-color: #F8F8F8; 
}

.container {
    width: 70%;
    margin-left: autO;
    margin-right:auto;
    background-color: rgb(238, 232, 232);
    
}

.header {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #427d78;
    color: white;
    font-family: 'Gentium Book Basic', serif;
    text-align: center;
    
}
#quote {
    color:#D5D36A;
}
.nav {
    background-color: #233541;
    overflow: hidden;
    margin: 0px;
    padding-bottom: px;
}

.nav ul {
    
    list-style-type: none;
    overflow: hidden;
    width: 460px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
   
}

.nav ul li {
    float: left;
    padding: 2.5%;
    text-align: center;
}

.nav ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

.nav ul li a:active {
    color: black;
}

.nav ul li:hover {
    background:#5b7270;
}


@media only screen and (max-width: 920px) {
    .nav ul li {
        float:none;
        background-color: #5b7270;
        padding: 10px;
        border-bottom: black 1px solid;
        border-radius: 5px;
        text-align: center;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .nav ul {
        width: 100%;
    }
}

.main {
    margin-top: 20px;
    height: auto;
    overflow: hidden;
}

.book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 700px;
    margin: 30px;
    border-top: gray 1px solid;
    padding-top: 40px;
    margin-top: 40px;
    
}

.book-container {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
    overflow: hidden;    
    justify-content: center;
    text-align: center;
    padding: 0px;
}
.cover-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-height: 240px;
    max-width: 156px;
    margin-bottom: 10px;
}

.book-cover {
    display: block;
    max-height: 240px;
    object-fit: fit;
}

.price {
    display: block;
    margin: 5px;
    margin: 10px;
    font-style: italic;
}

.book-title {
    font-family: 'Libre Baskerville', serif;
    font-size: 0.7em;
    margin: 5;
    margin-top: 0;
    font-weight: bold;
}

.author {
    font-family: 'Libre Baskerville', serif;
    font-size: 0.6em;
    font-weight: 500;
    margin: 5;
    margin-top: 0;
}

.btn {
    font: inherit;
    border: 1px solid #00695c;
    color: #00695c;
    background: white;
    border-radius: 3px;
    cursor: pointer;
  }
  
.btn:hover,
.btn:active {
    background-color: #00695c;
    color: white;
}
  